<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>footer</title>
    <link rel="stylesheet" href="/components/header/header.css">
</head>
<body>
    <footer id="dk-footer" class="dk-footer">
        <div class="container">
            <div class="row">
                <div class="col-12 col-sm-6 col-lg-4 foot-top-box">
                    <div class="foot-top">
                        <div class="foot-top-txt">
                            <a href="tel:+919428552312">
                                <p>+919998789409 <br> +919016842661</p>
                                <h4>Give us a call</h4>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-sm-6 col-lg-4 foot-top-box">
                    <div class="foot-top">
                        <div class="foot-top-txt">
                            <a href="mailto:inquiry@weloxpharma.com">
                                <p>ayunovapharmaceutical@gmail.com</p>
                                <h4>Give us a Mail</h4>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-sm-12 col-lg-4 foot-top-box">
                    <div class="foot-top">
                        <div class="foot-top-txt">
                            <a href="https://api.whatsapp.com/send?phone=917984303039&amp;text=Hello!" target="_blank">
                                <p>+919998789409 <br>+919016842661</p>
                                <h4>Give us a Whatsapp</h4>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row mt-3 mt-sm-0">
                <div class="col-sm-12 col-lg-3">
                    <div class="dk-footer-box-info">
                        <a href="index.html" class="footer-logo d-flex justify-content-center"> <img
                                src="assets/images/ayunova final logo.png"
                                alt="White Logo Welox Pharma" class="img-foot"> </a>
                        <p class="footer-info-text fw-normal poppins">Serving the health Worldwide</p>
                        <div class="footer-social-link">
                            <h3>Follow us</h3>
                            <ul>
                                <li>
                                    <a href="https://www.instagram.com/weloxpharma?igsh=OGQ5ZDc2ODk2ZA=="
                                        aria-label="Go to weloxpharma instagram page"><i class="fa-brands fa-instagram"
                                            alt="instagram"></i></a>
                                </li>
                                <li>
                                    <a href="https://www.facebook.com/weloxpharma/"
                                        aria-label="Go to weloxpharma facebook page"><i class="fa-brands fa-facebook-f"
                                            alt="facebook"></i></a>
                                </li>
                                <li>
                                    <a href="https://youtube.com/@GENERICMEDICINEINFORMATION?si=-ezJtJy9BF6Z8-Z7"
                                        aria-label="Go to weloxpharma youtube channel"> <i class="fa-brands fa-youtube"
                                            alt="youtube"></i></a>
                                </li>
                                <li>
                                    <a href="https://www.linkedin.com/company/welox-pharma"
                                        aria-label="Go to weloxpharma linkedin page"><i class="fa-brands fa-linkedin-in"
                                            alt="linkedin"></i></a>
                                </li>

                                <li>
                                    <a href="https://in.pinterest.com/weloxpharma/"
                                        aria-label="Go to weloxpharma pinterest"><i class="fa-brands fa fa-pinterest"
                                            alt="linkedin"></i></a>
                                </li>

                            </ul>
                        </div>
                        <!-- End Social link -->
                    </div>
                </div>
                <div class="col-sm-6 col-lg-5 mt-sm-3">
                    <div class="footer-widget">
                        <div>
                            <h3 class="text-green">Useful Links</h3>
                        </div>
                        <ul class="poppins footer-link">
                            <li>
                                <a href="terms-condition.html">Terms & Conditions</a>
                            </li>
                            <li>
                                <a href="privacy-policy.html">Privacy Policy</a>
                            </li>
                            <li>
                                <a href="drug-policy.html">Drug Policy</a>
                            </li>
                            <li>
                                <a href="refund-policy.html">Refund Policy</a>
                            </li>
                            <li>
                                <a href="/components/companyprofile/faq.html">Frequently Asked Questions</a>
                            </li>
                        </ul>
                        <ul class="poppins footer-link">
                            <li>
                                <a href="/components/companyprofile/aboutus.html">About us</a>
                            </li>
                            <li>
                                <a href="/Webdesigning/weloxpharma.com/history.html">Our History</a>
                            </li>
                            <li>
                                <a href="/components/infrastructure/manufacturing.html">Our Manufacturers</a>
                            </li>
                            <li>
                                <a href="/Webdesigning/weloxpharma.com/ingredient.html">Our Ingredients</a>
                            </li>
                            <li>
                                <a href="/components/contactus/contactus.html">Contact Us</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-sm-6 col-lg-4">
                    <div class="footer-widget">
                        <div>
                            <h3 class="text-green">Global Certifications</h3>
                        </div>
                        <div class="row">
                            <div class="col-4 col-sm-4 mt-3 mt-lg-0">
                                <img class="rounded-3 w-100"
                                    src="/Webdesigning/weloxpharma.com/assets/image/badge_01.webp" alt="badge_01">
                            </div>
                            <div class="col-4 col-sm-4 mt-3 mt-lg-0">
                                <img class="rounded-3 w-100"
                                    src="/Webdesigning/weloxpharma.com/assets/image/badge_02.webp" alt="badge_02">
                            </div>
                            <div class="col-4 col-sm-4 mt-3 mt-lg-0">
                                <img class="rounded-3 w-100"
                                    src="/Webdesigning/weloxpharma.com/assets/image/badge_03.webp" alt="badge_03">
                            </div>
                            <div class="col-4 col-sm-4 mt-3">
                                <img class="rounded-3 w-100"
                                    src="/Webdesigning/weloxpharma.com/assets/image/badge_04.webp" alt="badge_04">
                            </div>
                            <div class="col-4 col-sm-4 mt-3 ">
                                <img class="rounded-3 w-100"
                                    src="/Webdesigning/weloxpharma.com/assets/image/badge_05.webp" alt="badge_05">
                            </div>
                            <div class="col-4 col-sm-4 mt-3">
                                <img class="rounded-3 w-100"
                                    src="/Webdesigning/weloxpharma.com/assets/image/badge_06.webp" alt="badge_06">
                            </div>
                        </div>
                        <!-- End form -->
                    </div>
                </div>
            </div>
            <!-- End Widget Row -->
        </div>
        <!-- End Contact Container -->
        <div class="copyright">
            <div class="container">
                <p>Copyright © 2023, All Right Reserved WELOX</p>
            </div>
            <!-- End Copyright Container -->
        </div>
    </footer>
</body>
</html>